<div class="flex items-center justify-between w-full">
    <button class="flex items-center justify-between bg-[#1C265F] text-white py-2 px-4 rounded-full gap-2"
        (click)="goBackForm()">
        <mat-icon>arrow_back</mat-icon>
        <span class="pr-2">Volver</span>
    </button>

    <div class="flex flex-col items-start justify-start gap-2 w-[20%] my-2">
        <select formControlName="donacionesMotivoId" class="w-[105%] py-2 px-3 rounded-lg">
            <mat-label class="text-black">Motivo</mat-label>
            @for (item of motivosData; track $index) {
            <option [value]="item.motivo_id">{{item.motivo}}</option>
            }
            @empty {
            <option value="0" style="display: none;">Motivo</option>
            }
        </select>
    </div>
</div>

<div class=" bg-[#D9D9D9] rounded-xl h-full w-full p-4 mt-5">
    <div class="flex items-center justify-start my-4 ml-4 gap-2 text-4xl text-[#646464]">
        <span class="material-icons-outlined text-5xl">description</span>
        <span class="pr-2">Formalizar Solicitud</span>
    </div>

    <form [formGroup]="formDonates" class="flex justify-between items-start w-full">
        <div class="flex flex-col justify-start items-start w-[60%]">
            <div class="flex w-full">
                <div class="flex flex-col items-start justify-start gap-2 w-[45%] m-auto my-2">
                    <label> Nombre</label>
                    <input type="text" formControlName="donacionesNombreReceptor" class="w-full py-2 px-3 rounded-lg" />
                </div>

                <div class="flex flex-col items-start justify-start gap-2 w-[45%] m-auto my-2">
                    <label> Cédula de Identidad</label>
                    <input type="text" formControlName="donacionesCedulaReceptor" class="w-full py-2 px-3 rounded-lg" />
                </div>
            </div>

            <div class="flex justify-start gap-3 w-full">
                <div class="flex justify-start w-1/2">
                    <div class="flex flex-col items-start justify-start gap-2 w-[40%] m-auto my-2">
                        <label> Edad</label>
                        <input type="text" formControlName="donacionesEdadReceptor" class="w-full py-2 px-3 rounded-lg" />
                    </div>

                    <div class="flex flex-col items-start justify-start gap-2 w-[40%] m-auto my-2">
                        <label> Cantidad</label>
                        <input type="text" formControlName="donacionesAlmacenCantidad" class="w-full py-2 px-3 rounded-lg" />
                    </div>
                </div>

                <div class="flex items-start justify-start w-[44%] ">
                    <div class="flex flex-col items-start justify-start gap-2 w-full my-2">
                        <label> Insumo Solicitado</label>
                        <select formControlName="donacionesInsumo" class="w-[105%] py-2 px-3 rounded-lg">
                            @for (item of insumosData; track $index) {
                            <option [value]="item.roles_ID">{{item.roles_nombre}}</option>
                            }
                            @empty {
                            <option value="0">Cargando...</option>
                            }
                            <option value="0" style="display: none;"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-start justify-start gap-2 w-[95%] m-auto my-2">
                <label> Diagnostico </label>
                <textarea formControlName="donacionesDiagnosticoReceptor" rows="6" class="w-full py-2 px-3 rounded-lg"></textarea>
            </div>
        </div>

        <div class="flex flex-col items-start justify-start w-[40%]">
            <div class="flex flex-col items-start justify-start gap-2 w-full m-auto my-2">
                <label> Parroquia</label>
                <input type="text" formControlName="donacionesParroquia" class="w-full py-2 px-3 rounded-lg" />
            </div>
            <div class="flex items-start justify-start w-[95%] ">
                <div class="flex flex-col items-start justify-start gap-2 w-full my-2">
                    <label> Tipo de insumo</label>
                    <select formControlName="donacionesTipoId" class="w-[105%] py-2 px-3 rounded-lg">
                        @for (item of tiposData; track $index) {
                        <option [value]="item.tipo_donaciones_id">{{item.tipo_donaciones_nombre}}</option>
                        }
                        @empty {
                        <option value="0">Cargando...</option>
                        }
                        <option value="0" style="display: none;"></option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col items-start justify-start gap-2 w-full m-auto my-2">
                <label> Número de Teléfono</label>
                <input type="text" formControlName="donacionesTelefonoReceptor" class="w-full py-2 px-3 rounded-lg" />
            </div>
            <div class="flex items-center justify-start w-full">
                <div class="flex flex-col items-start justify-start gap-2 !w-full my-2">
                    <label> Fecha de Entrega </label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input formControlName="donacionesFechaAlta" class="!w-full" matInput
                            [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="flex items-center justify-between w-full gap-4 mt-4">
                <button class="flex items-center justify-between bg-[#B3261E] text-white py-2 px-4 rounded-full gap-2"
                    (click)="goBackForm()">
                    <mat-icon>cancel</mat-icon>
                    <span class="pr-2">Cancelar</span>
                </button>

                <button class="flex items-center justify-between bg-[#1C265F] text-white py-2 px-4 rounded-full gap-2"
                    (click)="sendFormData()">
                    <mat-icon>task_alt</mat-icon>
                    <span class="pr-2">Guardar</span>
                </button>
            </div>
        </div>
    </form>
</div>