<div class="flex items-start justify-between w-full h-[50vh]">
    <button
        class="flex items-center justify-between bg-[#1C265F] hover:bg-[#2235a0] delay-100 text-white py-2 px-4 rounded-full gap-2"
        (click)="goTo('donaciones/agregar')">
        <mat-icon>add_circle</mat-icon>
        <span class="pr-2">Crear Solicitud</span>
    </button>

    @if (showBtns) {

    <button
        class="flex items-center justify-between bg-[#1C265F] hover:bg-[#2235a0] delay-100 text-white py-2 px-4 rounded-full gap-2"
        (click)="goTo('usuario/agregar')">
        <mat-icon>person_add</mat-icon>
        <span class="pr-2">Crear Nuevo Usuario</span>
    </button>

    <button
        class="flex items-center justify-between bg-[#1C265F] hover:bg-[#2235a0] delay-100 text-white py-2 px-4 rounded-full gap-2"
        (click)="goTo('almacen')">
        <mat-icon>inbox</mat-icon>
        <span class="pr-2">Gestionar Almacen</span>
    </button>
    }
</div>