<div class="p-4">
    <h2 class="text-center">{{data.title}}</h2>
    <form [formGroup]="globalForm" class="flex flex-col items-center justify-start gap-5">
        @for (item of data.dataForm; track $index) {
        @if (item.typeInput == 'text') {
        <mat-form-field appearance="outline">
            <mat-label>{{item.label}}</mat-label>
            <input matInput formControlName="{{item.formControl}}" />
        </mat-form-field>
        }
        @if (item.typeInput == 'select') {
        <mat-form-field appearance="outline">
            <mat-label>{{item.label}}</mat-label>
            <mat-select formControlName="{{item.formControl}}">
                @for (opt of item.option; track $index) {
                <mat-option [value]="opt.value">{{opt.label}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }
        }

        <button mat-raised-button [disabled]="!globalForm.valid" type="submit"
            (click)="onSubmitFormulario()">Enviar</button>
    </form>
</div>